/* Syntax Highlighting Themes */

/* Base Prism Styles */
code[class*="language-"],
pre[class*="language-"] {
  color: #d4d4d4;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* VS Code Dark+ (Default Dark Theme) */
[data-theme='dark'] code[class*="language-"],
[data-theme='dark'] pre[class*="language-"] {
  color: #d4d4d4;
  background: #1e1e1e;
}

[data-theme='dark'] .token.comment,
[data-theme='dark'] .token.prolog,
[data-theme='dark'] .token.doctype,
[data-theme='dark'] .token.cdata {
  color: #6a9955;
}

[data-theme='dark'] .token.punctuation {
  color: #d4d4d4;
}

[data-theme='dark'] .token.namespace {
  opacity: .7;
}

[data-theme='dark'] .token.property,
[data-theme='dark'] .token.tag,
[data-theme='dark'] .token.boolean,
[data-theme='dark'] .token.number,
[data-theme='dark'] .token.constant,
[data-theme='dark'] .token.symbol,
[data-theme='dark'] .token.deleted {
  color: #b5cea8;
}

[data-theme='dark'] .token.selector,
[data-theme='dark'] .token.attr-name,
[data-theme='dark'] .token.string,
[data-theme='dark'] .token.char,
[data-theme='dark'] .token.builtin,
[data-theme='dark'] .token.inserted {
  color: #ce9178;
}

[data-theme='dark'] .token.operator,
[data-theme='dark'] .token.entity,
[data-theme='dark'] .token.url,
[data-theme='dark'] .language-css .token.string,
[data-theme='dark'] .style .token.string {
  color: #d4d4d4;
  background: transparent;
}

[data-theme='dark'] .token.atrule,
[data-theme='dark'] .token.attr-value,
[data-theme='dark'] .token.keyword {
  color: #569cd6;
}

[data-theme='dark'] .token.function,
[data-theme='dark'] .token.class-name {
  color: #dcdcaa;
}

[data-theme='dark'] .token.regex,
[data-theme='dark'] .token.important,
[data-theme='dark'] .token.variable {
  color: #9cdcfe;
}

/* Light Theme (GitHub Light inspired) */
[data-theme='light'] code[class*="language-"],
[data-theme='light'] pre[class*="language-"] {
  color: #24292e;
  background: #f6f8fa;
}

[data-theme='light'] .token.comment,
[data-theme='light'] .token.prolog,
[data-theme='light'] .token.doctype,
[data-theme='light'] .token.cdata {
  color: #6a737d;
}

[data-theme='light'] .token.punctuation {
  color: #24292e;
}

[data-theme='light'] .token.property,
[data-theme='light'] .token.tag,
[data-theme='light'] .token.boolean,
[data-theme='light'] .token.number,
[data-theme='light'] .token.constant,
[data-theme='light'] .token.symbol,
[data-theme='light'] .token.deleted {
  color: #005cc5;
}

[data-theme='light'] .token.selector,
[data-theme='light'] .token.attr-name,
[data-theme='light'] .token.string,
[data-theme='light'] .token.char,
[data-theme='light'] .token.builtin,
[data-theme='light'] .token.inserted {
  color: #032f62;
}

[data-theme='light'] .token.operator,
[data-theme='light'] .token.entity,
[data-theme='light'] .token.url,
[data-theme='light'] .language-css .token.string,
[data-theme='light'] .style .token.string {
  color: #d73a49;
  background: transparent;
}

[data-theme='light'] .token.atrule,
[data-theme='light'] .token.attr-value,
[data-theme='light'] .token.keyword {
  color: #d73a49;
}

[data-theme='light'] .token.function,
[data-theme='light'] .token.class-name {
  color: #6f42c1;
}

[data-theme='light'] .token.regex,
[data-theme='light'] .token.important,
[data-theme='light'] .token.variable {
  color: #e36209;
}

/* Solarized Light */
[data-theme='solarized-light'] code[class*="language-"],
[data-theme='solarized-light'] pre[class*="language-"] {
  color: #657b83;
  background: #fdf6e3;
}

[data-theme='solarized-light'] .token.comment,
[data-theme='solarized-light'] .token.prolog,
[data-theme='solarized-light'] .token.doctype,
[data-theme='solarized-light'] .token.cdata {
  color: #93a1a1;
}

[data-theme='solarized-light'] .token.punctuation {
  color: #586e75;
}

[data-theme='solarized-light'] .token.property,
[data-theme='solarized-light'] .token.tag,
[data-theme='solarized-light'] .token.boolean,
[data-theme='solarized-light'] .token.number,
[data-theme='solarized-light'] .token.constant,
[data-theme='solarized-light'] .token.symbol,
[data-theme='solarized-light'] .token.deleted {
  color: #2aa198;
}

[data-theme='solarized-light'] .token.selector,
[data-theme='solarized-light'] .token.attr-name,
[data-theme='solarized-light'] .token.string,
[data-theme='solarized-light'] .token.char,
[data-theme='solarized-light'] .token.builtin,
[data-theme='solarized-light'] .token.inserted {
  color: #2aa198;
}

[data-theme='solarized-light'] .token.operator,
[data-theme='solarized-light'] .token.entity,
[data-theme='solarized-light'] .token.url,
[data-theme='solarized-light'] .language-css .token.string,
[data-theme='solarized-light'] .style .token.string {
  color: #859900;
  background: transparent;
}

[data-theme='solarized-light'] .token.atrule,
[data-theme='solarized-light'] .token.attr-value,
[data-theme='solarized-light'] .token.keyword {
  color: #859900;
}

[data-theme='solarized-light'] .token.function,
[data-theme='solarized-light'] .token.class-name {
  color: #b58900;
}

[data-theme='solarized-light'] .token.regex,
[data-theme='solarized-light'] .token.important,
[data-theme='solarized-light'] .token.variable {
  color: #cb4b16;
}

/* Solarized Dark */
[data-theme='solarized-dark'] code[class*="language-"],
[data-theme='solarized-dark'] pre[class*="language-"] {
  color: #839496;
  background: #002b36;
}

[data-theme='solarized-dark'] .token.comment,
[data-theme='solarized-dark'] .token.prolog,
[data-theme='solarized-dark'] .token.doctype,
[data-theme='solarized-dark'] .token.cdata {
  color: #586e75;
}

[data-theme='solarized-dark'] .token.punctuation {
  color: #93a1a1;
}

[data-theme='solarized-dark'] .token.property,
[data-theme='solarized-dark'] .token.tag,
[data-theme='solarized-dark'] .token.boolean,
[data-theme='solarized-dark'] .token.number,
[data-theme='solarized-dark'] .token.constant,
[data-theme='solarized-dark'] .token.symbol,
[data-theme='solarized-dark'] .token.deleted {
  color: #2aa198;
}

[data-theme='solarized-dark'] .token.selector,
[data-theme='solarized-dark'] .token.attr-name,
[data-theme='solarized-dark'] .token.string,
[data-theme='solarized-dark'] .token.char,
[data-theme='solarized-dark'] .token.builtin,
[data-theme='solarized-dark'] .token.inserted {
  color: #2aa198;
}

[data-theme='solarized-dark'] .token.operator,
[data-theme='solarized-dark'] .token.entity,
[data-theme='solarized-dark'] .token.url,
[data-theme='solarized-dark'] .language-css .token.string,
[data-theme='solarized-dark'] .style .token.string {
  color: #859900;
  background: transparent;
}

[data-theme='solarized-dark'] .token.atrule,
[data-theme='solarized-dark'] .token.attr-value,
[data-theme='solarized-dark'] .token.keyword {
  color: #859900;
}

[data-theme='solarized-dark'] .token.function,
[data-theme='solarized-dark'] .token.class-name {
  color: #b58900;
}

[data-theme='solarized-dark'] .token.regex,
[data-theme='solarized-dark'] .token.important,
[data-theme='solarized-dark'] .token.variable {
  color: #cb4b16;
}

/* General */
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
